<ul class="links">
  <li><h4>Ben Feldman</h4>Oakland, CA USA</li>
  <li>Full stack web developer specializing in Ruby, Rails, javascript & jQuery; former product manager.</li>
  <li><i class="fa fa-asterisk fa-fw"></i><%= link_to 'blog (' + Post.count.to_s + ')', root_path %> </li>
  <li><i class="fa fa-comment fa-fw"></i><%= link_to 'background', background_path %></li>
  <li><i class="fa fa-file-text-o fa-fw"></i><%= link_to 'résumé', resume_path %></li>
  <li><i class="fa fa-keyboard-o fa-fw"></i><%= link_to 'contact me', new_message_path %></li>        
  <li><i class="fa fa-desktop fa-fw"></i><%= link_to 'projects', projects_path %></li>
  <li><i class="fa fa-twitter fa-fw"></i><%= link_to '@bendeveloping', 'http://twitter.com/bendeveloping' %></li>
  <li><i class="fa fa-github-alt fa-fw"></i><%= link_to 'github/anymd', 'http://github.com/anymd' %></li>
  <li><i class="fa fa-linkedin-square fa-fw"></i><%= link_to 'linkedIn', 'http://linkedin.com/in/benfeldman' %></li>
</ul>