<div class="resume">
  <h2>My Résumé</h2>
  <div class="download-resume"><i class="fa fa-download"></i> <%= link_to "Download PDF", "Ben_Feldman_resume.pdf" %></div>
</div>

<h1>Ben Feldman</h1>
<div class="subtitle">Full-stack web developer with rich product management background</div>

<p>Oakland, California USA</p>

<%= button_to 'Contact Me', new_message_path, :method => :get %>


<h3>TECHNICAL SKILLS</h3>
<ul class="bullets">
  <li>Languages: Ruby, JavaScript, HTML5, CSS3</li>
  <li>Frameworks: Rails 3+, Rails 4, jQuery</li>
  <li>Databases: MySQL, Postgres, Sqlite</li>
  <li>Other: OOP, AJAX, JSON, SQL, Git, Agile, Sass, CoffeeScript</li>
</ul>

<h3>SUMMARY OF QUALIFICATIONS</h3>
<ul class="bullets">
  <li>Passionate full­-stack junior web developer and former product manager specializing in Ruby, Rails and JavaScript.</li>
  <li>15 years managing cutting­-edge web-­based B2B and B2C products at lean startups using waterfall and agile methodologies; two of those companies acquired.</li>
  <li>Strong design and UX skills, 15 years coding HTML/CSS for production prototypes.</li>
  <li>Strong database design and SQL skills.</li>
  <li>2 years professional development experience.</li>
</ul>

<h3>PROJECTS</h3>
<ul class="bullets">
  <li><%= link_to 'DevBootstream.com', 'http://devbootstream.com' %>, Social media aggregator for students and alumni  (<%= link_to 'repo', 'http://github.com/anymd/bootstream' %>)</li>
  <li><%= link_to 'StaleMikes.com', 'http://stalemikes.com' %>, Resources for performers  (<%= link_to 'repo', 'http://github.com/anymd/stalemikes' %>)</li>
</ul>

<h3>WEB DEVELOPMENT EXPERIENCE</h3>

<div class="company">
  <div><h4>Funny Or Die, San Mateo, CA</h4></div>
  <div class="date">Jun - Sep 2013</div>
</div>

<div class="job-title">Web Developer Apprentice</div>
<ul class="bullets">
  <li>Contributed to massive redesign of Rails app including:
    <ul class="bullets">
      <li>Developed scripts and rake tasks to import critical celebrity data into production db from Google spreadsheets.</li>
      <li>Created migrations and updated ActiveRecord associations and validations to support introduction of user “channels”.</li>
      <li>Updated Rails views and Sass to support new responsive design.</li>
    </ul>
</ul>

<div class="company">
  <div><h4>Dev Bootcamp, San Francisco</h4></div>
  <div class="date">Jan - May 2013</div>
</div>

<ul class="bullets">
  <li>Completed intensive 9-week web development course on programming fundamentals, OOP, databases, front/back-end technologies, APIs, background jobs, AJAX, TDD, pair programming, and all facets of web development.</li>
  <li>Final project selected for demo day (devbootstream).</li>
</ul>  

<div class="company">
  <div><h4>Web Development Consulting</h4></div>
  <div class="date">Oct 2010 - Present</div>
</div>

<ul class="bullets">
  <b><i>GrabSent</i></b>
  <li>Lead developer for web service that enables online sellers to set up their own affiliate programs and for marketers to haggle on their commission rates.</li>
  <li>Developed in Rails 4 with bootstrap, Squarespace and Dwolla integration.</li>
</ul>

<ul class="bullets">
  <b><i>CosmicWish</i></b>
  <li>Front­-end developer, designer and co­founder of web service that lets customers design beautiful printed greeting cards online and beam their wishes into the universe.</li>
  <li>Developed in HTML/CSS, Python, Django</li>
</ul>

<ul class="bullets">
  <b><i>LaffQ</i></b>
  <li>Front­-end developer of web service that lets performance artists track and share their performance schedules.</li>
  <li>Developed in HTML/CSS, Python, Django</li>
</ul>

<h3>PRODUCT MANAGEMENT EXPERIENCE</h3>

<div class="company">
  <div><h4>Juice In The City, San Mateo, CA</h4></div>
  <div class="date">Jan - Dec 2011</div>
</div>

<div class="job-title">Product Manager</div>
<ul class="bullets">
  <li>Drove all aspects of product management for a daily deals site catering to mothers.</li>
  <li>Designed critical operations applications from scratch to recruit large virtual sales force and automate and track their sales process; growing sales force from 10 to 300+ in 6 months.</li>
  <li>Managed API integration with Google Deals and SendGrid.</li>
  <li>Built framework for delivery of timely SQL queries for frequent, highly targeted marketing outreach.</li>
</ul>

<div class="company">
  <div><h4>Entrust (Business Signatures), Redwood City, CA</h4></div>
  <div class="date">Jul 2004 - Dec 2008</div>
</div>

<div class="job-title">Director of Product Management</div>
<ul class="bullets">
  <li>Transformed systems monitoring enterprise software application into world­class online banking fraud detection and prevention solution for top­tier banks.</li>
  <li>Designed suite of applications to monitor online banking customer behavior and alert activity that matches customizable fraud rule patterns.</li>
</ul>

<div class="company">
  <div><h4>Active Decisions, San Mateo, CA</h4></div>
  <div class="date">Mar 1999 - Jul 2004</div>
</div>

<div class="job-title">Senior Product Manager</div>
<ul class="bullets">
  <li>Designed and spearheaded development of Active Buyers Guide and supporting operations applications for leading online automated consumer product recommendation engine.</li>
  <li>Designed white label system implemented by dozens of partners, growing user base from 5k to 40 million in 18 months.</li>
</ul>  

<div class="company">
  <div><h4>mBED Software, San Francisco</h4></div>
  <div class="date">Mar 1997 - Feb 1999</div>
  <div class="job-title">Product Marketing Manager</div>
  <ul class="bullets">
    <li>Instituted and executed product marketing processes for popular multimedia web development software.</li>
    <li>Built demos with mBED’s proprietary scripting language.</li>
  </ul>
</div>

<div class="company">
  <div><h4>Gnossos Software, Washington D.C.</h4></div>
  <div class="date">Jan 1994 - Mar 1997</div>
</div>

<div class="job-title">Senior Marketing Manager</div>
<ul class="bullets">
  <li>Formulated and executed marketing strategies for leading political action committee accounting software solution.</li>
  <li>Built company’s first web site.</li>
</ul>

<h3>EDUCATION</h3>
<ul class="bullets">
  <li>Dev Bootcamp, 2013</li>
  <li>Railsbridge 2012-2013</li>
  <li>Ithaca College, 1993 B.A. Politics, Sociology</li>
</ul>
