<div class="header">
  <h2><%= link_to 'bendeveloping', root_path, :class => 'brand' %></h2>
</div>

<div class="header-nav">
  <ul>
    <li><%= link_to 'blog', root_path %> </li>
    <li><%= link_to 'résumé', resume_path %></li>
    <li><%= link_to 'about me', background_path %></li>  
    <li><%= link_to 'contact', new_message_path %></li>        
  </ul>    
</div>

<% if admin? %>
  <div class="admin">
    <%= link_to 'logout', logout_path %>
  </div>
<% end %>