<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Ben Developing" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45275581-1']);
      _gaq.push(['_setDomainName', 'bendeveloping.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

<body>

  <div class="header">
    <h1><%= link_to '#bendeveloping', root_path, :class => 'brand' %></h1>
  </div>
  <div class="upto">
    <i class="fa fa-twitter"></i> <b>What I'm up to</b>  
      <i>"<%= auto_link(scrub_upto_hashtag(get_tweet.text).html_safe) %>"</i>
  </div>
  <% if admin? %>
    <div class="admin">
      <%= link_to 'logout', logout_path %>
    </div>
  <% end %>

  <div class="container">

<% if flash[:notice] %>
  <p class="thanks close"><i class="fa fa-times-circle"></i> <%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error close"><i class="fa fa-times-circle"></i> <%= flash[:error] %></p>
<% end %>


    <div class="eleven columns content">  
      <%= yield %>
    </div>

    <div class="four columns nav offset-by-one">

      <a href="http://twitter.com/bendeveloping"><div class="profile"><i class="fa fa-twitter"></i> Follow me
        <%= image_tag('ben.jpg') %>
      </div></a>

      <ul class="links">
        <li><h4>Ben Feldman</h4>Oakland, CA USA</li>
        <li>Full stack web developer specializing in Ruby, Rails, javascript & jQuery; former product manager.</li>
        <li><i class="fa fa-asterisk fa-fw"></i><%= link_to 'blog', root_path %></li>
        <li><i class="fa fa-comment fa-fw"></i><%= link_to 'background', background_path %></li>
        <li><i class="fa fa-file-text-o fa-fw"></i><%= link_to 'résumé', resume_path %></li>
        <li><i class="fa fa-keyboard-o fa-fw"></i><%= link_to 'contact me', new_message_path %></li>        
        <li><i class="fa fa-desktop fa-fw"></i><%= link_to 'projects', projects_path %></li>

        <li><i class="fa fa-twitter fa-fw"></i><%= link_to '@bendeveloping', 'http://twitter.com/bendeveloping' %></li>
        <li><i class="fa fa-github-alt fa-fw"></i><%= link_to 'github/anymd', 'http://github.com/anymd' %></li>
        <li><i class="fa fa-linkedin-square fa-fw"></i><%= link_to 'linkedIn', 'http://linkedin.com/in/benfeldman' %></li>
      </ul>
    </div>
  
  </div>

<footer>
  <p>&copy; 2013 Ben Developing | Built with Rails 4</p>
</footer>

  <%= javascript_include_tag "application" %>

</body>

</html>
