<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Ben Developing" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
  </head>

<body>

  <div class="header">
    <h1><%= link_to '#bendeveloping', root_path, :class => 'brand' %></h1>
  </div>

  <div class="container">

    <div class="eleven columns content">  
      <%= yield %>
    </div>

    <div class="four columns nav offset-by-one">
      <div class="profile"><%= image_tag 'ben.jpg', :class => 'profile-image' %></div>
      <ul class="links">
        <li><h4>Ben Feldman</h4>Oakland, CA USA</li>
        <li>Full stack web developer specializing in Ruby, Rails, javascript & jQuery; former product manager.</li>
        <li><i class="fa fa-asterisk fa-fw"></i><%= link_to 'blog', root_path %></li>
        <li><i class="fa fa-comment fa-fw"></i><%= link_to 'background', background_path %></li>
        <li><i class="fa fa-file-text-o fa-fw"></i><%= link_to 'résumé', resume_path %></li>
        <li><i class="fa fa-desktop fa-fw"></i><%= link_to 'projects', projects_path %></li>

        <li><i class="fa fa-twitter fa-fw"></i><%= link_to '@bendeveloping', 'http://twitter.com/bendeveloping' %></li>
        <li><i class="fa fa-github-alt fa-fw"></i><%= link_to 'github/anymd', 'http://github.com/anymd' %></li>
        <li><i class="fa fa-linkedin-square fa-fw"></i><%= link_to 'linkedIn', 'http://linkedin.com/in/benfeldman' %></li>
      </ul>
    </div>
    
    <footer>
      <p>&copy; Ben Developing 2013 | built with Rails 4</p>
    </footer>

  </div>

  <%= javascript_include_tag "application" %>

</body>

</html>
