<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Ben Developing" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45275581-1']);
      _gaq.push(['_setDomainName', 'bendeveloping.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

<body>

<%= render 'layouts/header' %>

<div class="container">

<% if flash[:notice] %>
  <p class="thanks close"><i class="fa fa-times-circle"></i> <%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error close"><i class="fa fa-times-circle"></i> <%= flash[:error] %></p>
<% end %>


    <div class="eleven columns content">  
      <%= yield %>
    </div>

    <div class="four columns nav offset-by-one">

      <a href="http://twitter.com/bendeveloping"><div class="profile"><i class="fa fa-twitter"></i> Follow me
        <%= image_tag('ben.jpg') %>
      </div></a>

      <%= render "layouts/links" %>

    </div>
  
  </div>

<div class="upto">
  <i class="fa fa-twitter fa-lg"></i>&nbsp;&nbsp;<b>WHAT I'M UP TO: </b>&nbsp;&nbsp;  
  <%= auto_link(scrub_upto_hashtag(get_tweet.text).html_safe) %>
</div>

<footer>
  <p>&copy; 2013 Ben Developing | Built with Rails 4</p>
</footer>

  <%= javascript_include_tag "application" %>

</body>

</html>
