<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Ben Developing" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    </head>

<body>

<div class="container">
  <nav>
    <%= link_to 'Ben Developing', root_path, :class => 'brand' %>
  </nav>

  <div class="row">
    <div class="span12">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>

  <footer>
    <p>&copy; Bendeveloping 2013</p>
  </footer>

</div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
